{% extends "base_generic.html" %}

{% block content %}

<style>
    input { border-radius: 5px; padding: 6px}
</style>

<form action="{% url 'polls:search_form' %}" method="post" name="form1">
    {% csrf_token %}
    <h4>Результаты поиска
    {{ form }}
    <input type="submit" value="Поиск" />
    </h4>
</form>

{#<form action="{% url 'polls:search_form' %}" method="post" name="form1" id="form1">#}
{#{% csrf_token %}#}
{#<h4>Результаты поиска#}
{#    <input style="width: 300px; margin-left: 20px" type="text" name="str_search" id="str_search" value="{{ request.POST.str_search }}" placeholder="код/артикул/название">#}
{#    <input style="width: 200px;" type="text" name="brand_search" id="brand_search" value="{{ request.POST.brand_search }}" placeholder="отбор по Бренду">#}
{#    <input type="submit" value="Поиск" />#}
{#</h4>#}
{#</form>#}

<h4 style="text-align: right">Найдено {{ total_number }}. Цена от {{ min_price }} до {{ max_price }}</h4>
    <table>
    <thead>
    <tr>
        <th></th>
        <th style="width: 10%">Код</th>
        <th style="width: 15%">Артикул</th>
        <th style="width: 15%">Бренд</th>
        <th style="width: 45%">Описание</th>
        <th style="width: 5%">Кол-во</th>
        <th style="width: 10%">Цена<br></th>
    </tr>
    </thead>
    <tbody>
{% if search_all %}
    {% for item in search_all %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.id_product }}</td>
        <td>{{ item.article }}</td>
        <td>{{ item.brand }}</td>
        <td>{{ item.description }}</td>
        <td class="position_right">{{ item.balance }}</td>
        <td class="position_right">{{ item.price }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <h4 style="color: red; text-align: right">Ниче не нашли</h4>
{% endif %}

{% endblock %}




